<div class= Card__LabelGap-sc-7insep-5 ContentZone__DetailTop-wghbmy-5 bbQRaL'>
    <div>
    <div class="Card__LabelGap-sc-7insep-5 ContentZone__Title-wghbmy-6 hXERKq">Appartement</div>
    <ul class="ContentZone__Tags-wghbmy-7 fNlgGF">
        <li>2 p</li>
        <li>1 ch</li>
        <li>48 m²</li>
    </ul>
    </div>
    <div class="Price__PriceContainer-sc-1g9fitq-0 grvAL">
    <div class="Price__Label-sc-1g9fitq-1 kYWVBR">808 €</div>
    <div class="Price__Expose-sc-1g9fitq-4 eCwDJa">cc</div>
    <div class="Price__Suffix-sc-1g9fitq-3 hYaChC">/mois</div>
    </div>
</div>